.title_home {
  width: 100%;
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
}

.title_big {
  font-size: 3rem;
  max-width: 19rem;
}

.title_big:nth-child(2) {
  text-align: right;
}

.thought {
  color: var(--green);
}

.description {
  width: 100%;
  text-align: center;

  margin: 0 auto;
}

.content__main {
  height: 70vh;
  overflow-y: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;

  padding: 0 2rem;

  width: 100%;
  height: 30vh;
  min-height: 190px;

  background: var(--secondary-background);
}

.content__footer {
  width: 100%;
  max-width: 800px;
  height: 100%;

  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials.aside {
  flex-direction: column;
  align-items: flex-start;
}

.link:not(:first-child) {
  margin-top: 0.5rem;
}

@media screen and (max-width: 640px) {
  .content__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title_home {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .title_big {
    width: 100%;
    max-width: 90vw;
    text-align: center;
  }

  .title_big:last-child {
    margin-top: 1rem;
  }


  .title_big:last-child {
    text-align: center;
  }

  .description {
    padding: 0 1rem;
  }

  .footer {
    position: static;
  }
}

@media screen and (max-width: 400px) {
  .title_big {
    font-size: 2.5rem;
  }

  .footer {
    width: 100%;
  }

  .content__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aside:last-child {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .title_big {
    font-size: 2rem;
  }

  .copy {
    text-align: center;
  }
}